debug/* FOGLIO DI STILE PRINCIPALE */

/* regole generiche */
.container {
    border: 1px dashed red;
    height: 100%;
}

section{
    padding: 20px;
}

/* HEADER */
/* debug */
#navbar{
    background-color: #2C3E50;
    height: 80px;
}

.col{
    border: 1px rgb(255, 255, 255) dashed;
}

.box-header{
    height: 40px;
    margin: 20px 0;
}

#box-nav{
    background-color: brown;
}

.box-text{
    background-color: rgb(253, 255, 123);
}

/* jumbotron */
/* debug */


.green-section{
    background-color: #1ABC9C;
}

.box-main{
    min-height: 300px;
    border: 1px dashed black;
}

.box-title{
    background-color: violet;
    min-height: 100px;
    margin: 12px 0;
}

/* FOOTER */

.box-footer{
    min-height: 200px;
    border: 1px dashed black;
}

.box-copyright {
    background-color: rgb(123, 235, 255);
}

.dark{
    background-color:#3A546D;
    padding: 20px;
}

#bottombar{
    background-color: #2C3E50;
}

/* RESPONSIVE */

@media all and (max-width: 565px){

    /* scomparsa elenco */

    #box-nav{
        display: none;
    }

    /* cards */




}

@media all and (min-width: 566px){

    /* comparsa barra di navigazione a lato in alto */

    #box-nav ul li {
        display: flex;
    }

    /* scomparsa dell'hamburger */

    #hamburger{
        display: none;
    }


}

