/* FOGLIO DI STILE PRINCIPALE */


/* regole generiche */
*{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style-type: none;
}

.container-md{
    height: 100%;
}

.container-tiny{
    width: 80%;
    margin: 0 auto;
}

section{
    padding: 25px;
}

.green-section,
#dark{
    color: white;
}

/* HEADER */
/* debug */
header{
    background-color: #2C3E50;
}

.col{
    margin: 5px 0;
}

header .nav-link,
.navbar-brand {
    color: white;
}

header .nav-link{
    font-size: 13px;
    font-weight: 700;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
}

header .nav-item:hover a {
    color: #1ABC9C;
}

.navbar-brand:hover {
    color: white;
}

.navbar-toggler>span {
    color: rgb(184, 184, 184);
}

.navbar-toggler {
    border: 1px solid rgb(184, 184, 184);
}

/* PARTE CENTRALE */
/* jumbotron */
/* debug */

main{
    padding-top: 30px;
}

.green-section{
    background-color: #1ABC9C;
}

.box-jumbo,
.box-main{
    margin: 10px 0;

}

.box-jumbo img{
    max-width: 55%;
    padding: 10px 0;
}

.box-jumbo h1,
h2{
    font-weight: 700;
}

/* separatore con stella jumbotron */
.bar{
    height: 4px;
    border-radius: 50px;
    width: 100%;
    margin: 0 10px;
}

.bar-white{
    background-color: white;
}

.col-star{
    max-width: 40%;
    padding: 10px;
    font-size: 30px;
}

.col-star,
.col-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

i .fa-star{
    font-size: 20px;
}

.col h3{
    font-size: 13px;
    padding: 10px 0;
}

/* portfolio e cards */
.box-title,
.card{
    margin: 12px 0;
}

.card{
    position: relative;
}

.card .fa-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 80px;
    font-weight: 900;
    display: none;
}

.card:hover .fa-plus{
    display:inline-block;
}

.card:hover img{
    filter:contrast(0.4) sepia(100%) hue-rotate(90deg);
}

/* separatore portfolio */

.bar-black{
    background-color: black;
}

/* about */

.box-text p{
    padding: 15px;
    font-size: 20px;
}

/* contact */

textarea{
    width: 100%;
}

.btn-success{
    background-color: #1ABC9C;
    border: none;
}

/* FOOTER */

#dark{
    background-color:#3A546D;
}

#bottombar{
    background-color: #2C3E50;
    padding: 35px;
}

#social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px
}

.circle{
    width: 100%;
    border: 1px solid white;
    border-radius: 100%;
}

.box-circle{
    height: 50px;
    width: 50px;
    margin: 0 2px;
}

.circle > i{
    line-height: 50px;
    font-size: 25px;
}

#start{
    color: #1ABC9C;
    text-decoration: none;
}

#copyright{
    color: white;
}

.title-footer{
    font-weight: 700;
}

.title-footer,
.paragraph-footer,
#social{
    padding: 5px;
}


/* RESPONSIVE */

/* visualizzazione per desktop */
@media all and (min-width: 992px){

    .container-md{
        max-width: 960px;
    }

}

/* visualizzazione tablet */

@media all and (min-width: 768px){

    /* regolazione immagine avatar jumbotron */

    .box-jumbo img{
        max-width: 25%;
    }

    /* ingrandimento carattere intestazione jumbotron e intestazioni corpo */
    h1 {
        font-size: 45px;
    }

    h2{
        font-size: 40px;
    }

    .col h3,
    .box-title h4,
    .box-main h4{
        font-size: 20px;
    }

    /* riduzione carattere informazioni footer */

    .title-footer {
        font-size: 18px;
    }

}
